{% extends "layout.html.twig" %}

{% block content %}
	<div class="moviecard row col-12 justify-content-center m-0">
		<div class="row col-12 p-0 d-md-none">
			<div class="scene scene--card justify-content-center flex-column p-0">
				<div class="card col-12 border-0">
				<a class="replay btnPlayAgain align-middle" href="/questions">Play Again</a>
					<div class="card__face card__face--front col-12">
						<p class="turnCard">></p>
						{% if correctAnswer == true %}
							<h3 class="text-success answerText">Correct answer !
							</h3>
						{% else %}
							<h3 class="text-danger answerText">False answer !
							</h3>
						{% endif %}
						<img id="image" class="poster img-fluid rounded-start">
					</div>
					<div class="card__face card__face--back col-12">
						<h2 class="titleCard">{{ location.movie_name }}</h2>
						<div class="dateCard">
							<p>Release Date :
							</p>
							<p id="date"></p>
						</div>
						<p id="description"></p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-3 d-none d-md-block">
			<img id="image2" class="poster rounded img-fluid">
		</div>
		<div class="col-7 d-flex flex-column d-none d-md-block">
			<a href="/questions" class="btn btn-outline-dark btn-lg btnPlayAgainDesk">Play Again</a>
			{% if correctAnswer == true %}
				<h3 class="text-success answerText">Correct answer !</h3>
			{% else %}
				<h3 class="text-danger answerText">False answer !</h3>
			{% endif %}
			<h2 class="movieNameCard">{{ location.movie_name }}</h2>
			<div class="d-flex lead">
				<p>Release Date :
				</p>
				<p id="date2"></p>
			</div>
			<p id="description2"></p>
		</div>
	</div>

	<div class="map row col-12 fixed-bottom d-none d-md-block">
		<iframe class="iframeresult" src="{{ location.url_map }}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>

	<div class="map row col-12 fixed-bottom d-md-none">
		<iframe class="iframeresult2" src="{{ location.url_map }}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>


	<script type="text/javascript" src="/assets/js/card_flip.js"></script>

{% endblock %}
{% block javascript %}
	<script src="/assets/js/movies.js"></script>
{% endblock %}
