{% extends "layout.html.twig" %}

{% block content %}

	{% if correctAnswer == true %}
		Correct answer !
	{% else %}
		False answer !
	{% endif %}

	<div>
		{{ location.movie_name }}
		<img id="image">
		<div id="description"></div>
	</div>


{% endblock %}
{% block javascript %}
	<script src="/assets/js/movies.js"></script>
{% endblock %}
