{% extends "layout.html.twig" %}

{% block content %}
	<div =class"container">
		<form class="form" method="post" action="/result">
			<div class="row">
				{% for proposal in proposals %}
					<div>
						<input type="radio" required value={{proposal.movie_tag}} name="answer" id="{{proposal.movie_tag}}">
						<label for="{{proposal.movie_tag}}">{{proposal.movie_name}}</label>
					</div>
				{% endfor %}
				<div>
					<button class="btn">Next</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
