{% extends 'layout.html.twig' %}

{% block classBody %}indexBackground
{% endblock %}

{% block content %}

	<main class="container mainHome">
		<div class="row justify-content-center">
			<div class="logoHomeDiv">
				<img class="logoHome" src="/assets/images/logoHome.svg">
			</div>
			<p class="textHome">Movie Guessr is an application that allows you to travel
				<br>through the real locations of famous movie scenes with google street view.
			</p>
			<a href="/questions" class="col-6 col-md-5 col-lg-4 col-xl-3 play btn btn-outline-light btn-lg buttonHome">Play !</a>
		</div>
	</main>
{% endblock %}
