@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,800&display=swap%27');

body {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}

.indexBackground {
    background-image: url("/assets/images/index.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.iframeresult {
    width: 100%;
    height: 50vh;
    padding: 0px;
}

.iframeresult2 {
    width: 100%;
    height: 45vh;
    padding: 0px;
}

.map {
    margin: 0px;
}

.moviecard,
.poster {
    height: 50vh;
}

#menu,
#menu>a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

h1 {
    color: white;
    font-size: 78px;
    font-weight: 800;
    font-style: italic;
}

h2 {
    font-weight: 800;
}

h3 {
    padding: 10px;
    font-weight: 800;
    font-style: italic;
}

.play {
    font-size: 42px;
    font-style: italic;
    font-weight: 800;
}

.processImage {
    width: 450px;
}

.showQuestions {
    background-color: rgba(0, 0, 0, 0.705);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    align-self: center;
}

.showQuestion {
    position: absolute;
    z-index: 10;
    display: flex;
    background-color: #29235C;
    padding: 15px;
    margin-top: 20px;
    margin-left: 20px;
    color: #000;
    font-weight: 800;
    font-style: italic;
}

.showQuestion:hover {
    color: #29235C;
    background-color: #fff;
}

.questionGuessr {
    margin: 10px;
}

.buttonGuessr {
    border: 2px solid #fff;
    margin-top: 20px;
    margin-right: 30px;
    color: #fff;
}

.logoTitle {
    color: #fff;
    margin-top: 50px;
}

.buttonAnswer {
    font: 800 24px;
    border: 2px solid #fff;
    margin-top: 20px;
    margin-right: 30px;
    color: #000;
    padding: 10px;
}

/* POP UP QUESTION */

.popup-link {
    margin-top: 10px;
    position: absolute;
    z-index: 10;
    flex-wrap: wrap;
}

.popup-link a {
    color: #fff;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    text-decoration: none;
}

.formQuestion {
    min-width: 300px;
}

.popup-container {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: scale(1.2);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.popup-content p {
    font-size: 17px;
    padding: 10px;
    line-height: 20px;
}

.popup-content a.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.popup-content a.close:hover {
    color: #333;
}

.popup-content span:hover,
.popup-content span:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popup-container:target {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

/*End popup styles*/

.popup-style-3 {
    right: 100%;

}

.popup-style-3:target {
    left: 0;
}

.scene {
    display: inline-block;
    width: 100%;
    height: 55vh;
    perspective: 600px;
}

.card {
    position: relative;
    width: 100%;
    height: 55vh;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
}

.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 55vh;
    color: white;
    text-align: center;
    font-weight: bold;
    backface-visibility: hidden;
}

.card__face--front {
    background: white;
}

.card__face--back {
    background: slateblue;
    transform: rotateY(180deg);
    padding: 30px;
}

.logoHome {
    width: 40%;
    min-width: 250px;
}

.logoHomeDiv {
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.textHome {
    margin-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.buttonHome {
    margin-top: 40px;
    background-color: #29235C;
    color: #fff;
    border-style: none;
    font-weight: 800;
    font-style: italic;
}

.buttonHome:hover {
    color: #29235C;
}

.addTitle {
    margin-top: 50px;
    padding-top: 30px;
    color: #fff;
    font-weight: 800;
    font-style: italic;
    font-size: 50px;
}

.addMain {
    background-image: url("/assets/images/index.jpg");
    background-attachment: fixed;
}

.addForm {
    background-color: rgba(0, 0, 0, 0.696);
}

.labelForm {
    color: #fff;
}

.addMainTitle {
    padding-top: 30px;
    color: #fff;
    font-weight: 800;
    font-style: italic;
    font-size: 50px;
}

.addProcess {
    background-color: rgba(0, 0, 0, 0.696);
    padding-bottom: 50px;
}

.addProcessTitle {
    font-style: italic;
    margin-top: 30px;
}

.buttonFormAdd {
    background-color: #29235C;
    color: #fff;
    border-style: none;
    font-weight: 800;
    font-style: italic;
    font-size: 20px;
    margin-top: 20px;
}

.buttonFormAdd:hover {
    background-color: #fff;
    color: #29235C;
}

.logoHome {
    width: 40%;
    min-width: 250px;
}

.logoHomeDiv {
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.textHome {
    margin-top: 10px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.buttonHome {
    margin-top: 40px;
    background-color: #29235C;
    color: #fff;
    border-style: none;
    font-weight: 800;
    font-style: italic;
}

.buttonHome:hover {
    color: #29235C;
}

.addTitle {
    margin-top: 50px;
    padding-top: 30px;
    color: #fff;
    font-weight: 800;
    font-style: italic;
    font-size: 50px;
}

.addMain {
    background-image: url("/assets/images/index.jpg");
    background-attachment: fixed;
}

.addForm {
    background-color: rgba(0, 0, 0, 0.696);
}

.labelForm {
    color: #fff;
}

.addMainTitle {
    padding-top: 30px;
    color: #fff;
    font-weight: 800;
    font-style: italic;
    font-size: 50px;
}

.addProcess {
    background-color: rgba(0, 0, 0, 0.696);
    padding-bottom: 50px;
}

.addProcessTitle {
    font-style: italic;
    margin-top: 30px;
}

.buttonFormAdd {
    background-color: #29235C;
    color: #fff;
    border-style: none;
    font-weight: 800;
    font-style: italic;
    font-size: 20px;
    margin-top: 20px;
}

.buttonFormAdd:hover {
    background-color: #fff;
    color: #29235C;
}

.buttonQuiz {
    color: #009FE3;
}